<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mülk Değeri Hesaplama</title>
    <link rel="icon" type="image/x-icon" href="../../../assets/logo_colored.jpg">
</head>
<body>
    <img id="menuImage" src="../../../assets/hamburger_menu.svg" style="display: none;">
    <img id="logoImage" src="../../../assets/logo.svg" style="display: none;">
    <img id="linkedinImage" src="../../../assets/linkedin.svg" style="display: none;">
    <img id="upworkImage" src="../../../assets/upwork.svg" style="display: none;">
    <img id="bionlukImage" src="../../../assets/bionluk.png" style="display: none;">

    <div id="body">
        <div id="errorToast" style="display: none;background-color: red;
         width: 100%;height: 90px;justify-content: center;align-items: center;position: absolute;color: white;border-radius: 0px 0px 10px 10px;z-index: 50;">
            Lütfen eksik değer girmeyiniz!     
        </div>
        <div id="mainContainer">
            <div id="inputsTitle" >Mülkünüzün Tahmini Değerini Hesaplayın</div>
            <div id="button" class="inputElement"></div>
         </div>
</body>
</html>