<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <div id="container">
        <a href="/silam-emlak-admin-messages.html" class="element">
            Mesajlar
        </a>
        <a href="/silam-emlak-admin-add-article.html" class="element">
            İlan Ekle
        </a>
        <a href="/silam-emlak-admin-delete-article.html" class="element">
            İlan Sil
        </a>
    </div>
</body>
</html>