<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İlan</title>
</head>
<body>
    <img id="menuImage" src="../../../assets/hamburger_menu.svg" style="display: none;">
    <img id="logoImage" src="../../../assets/logo.svg" style="display: none;">
    <img id="linkedinImage" src="../../../assets/linkedin.svg" style="display: none;">
    <img id="upworkImage" src="../../../assets/upwork.svg" style="display: none;">
    <img id="bionlukImage" src="../../../assets/bionluk.png" style="display: none;">
    <div id="mainContainer">
        <div id="imageContainer">
            <img class="imgNavigator" id="back" src="../../../assets/back_button.svg">
            <img class="imgNavigator" id="front" src="../../../assets/front_button.svg">
            <img id="image">
        </div>
        <div id="infoContainer">
            <div class="element">
                <div class="title">Mahalle/Köy: </div>
                <div class="content" id="province"></div>
            </div>
            <div class="element">
                <div class="title">Durum: </div>
                <div class="content" id="state"></div>
            </div>
            <div class="element">
                <div class="title">Tip: </div>
                <div class="content" id="type"></div>
            </div>
            <div class="element">
                <div class="title">Bulunduğu kat: </div>
                <div class="content" id="currentFloor"></div>
            </div>
            <div class="element">
                <div class="title">Kat Sayısı: </div>
                <div class="content" id="floor"></div>
            </div>
            <div class="element">
                <div class="title">Yakıt Tipi: </div>
                <div class="content" id="fuel"></div>
            </div>
            <div class="element">
                <div class="title">Bina Yaşı: </div>
                <div class="content" id="age"></div>
            </div>
            <div class="element">
                <div class="title">Net/Brüt m2: </div>
                <div class="content" id="area"></div>
            </div>
            <div class="element">
                <div class="title">Eşyalı Mı?: </div>
                <div class="content" id="isHaveFurniture"></div>
            </div>
            <div class="element">
                <div class="title">Ücret: </div>
                <div class="content" id="price"></div>
            </div>
            <div class="element">
                <div class="content" id="desc"></div>
            </div>
            <a href="/iletisim.html" id="contact">İlginizi çektiyse buradan bizimle iletişime geçebilirsiniz.</a>
        </div>
    </div>
</body> 
</html>