<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sılam Emlak - Gayrimenkul Danışmanlık</title>
    <meta name="robots" content="index, follow">
    <meta name="description" content="Gayrimenkul danışmanlık hizmetimiz">
    <link rel="icon" type="image/x-icon" href="../../../assets/logo_colored.jpg">
</head>
<body>
    <img id="menuImage" src="../../../assets/hamburger_menu.svg" style="display: none;">
    <img id="logoImage" src="../../../assets/logo.svg" style="display: none;">
    <img id="linkedinImage" src="../../../assets/linkedin.svg" style="display: none;">
    <img id="upworkImage" src="../../../assets/upwork.svg" style="display: none;">
    <img id="bionlukImage" src="../../../assets/bionluk.png" style="display: none;">

    <div id="property-consulment">
        <div id="house-in-your-dream">
         <div class="title" id="firstTitle">Hayalinizdeki Evi Bulmanıza Yardımcı Olalım</div>
         <div id="houses">
             <img id="houseOne" src="../../../assets/house_one.png" class="house">
             <div class="description" id="animationedDesc">Hayallerinize ve ailenize en uygun eve sahip olabilirsiniz.</div>
         </div>  
        </div>
        <div id="make-your-invesment">
         <div class="title">Yatırımlarınızı Beraber Güçlendirelim</div>
        <div class="content">
            <img  src="../../../assets/invesment.svg" class="invesmentImage">
            <div class="description">Yatırımlarınızdan güvenli ve maksimum kazancı sağlamanıza yardımcı olalım.</div>
        </div>
        </div>
        <div id="sell-your-property">
         <div class="title">Mülklerinizden Gelir Elde Etmenize Yardımcı Olalım</div>
         <div class="content">
            <img  src="../../../assets/house_for_rent.svg" class="propertyImage">
         <div class="description">Mülklerinizden en verimli geliri sağlamanıza yardım etmek için buradayız.</div>
         </div>
         <a href="/iletisim.html" id="contact-us-button">Hizmetlerimizden Yararlanmak İçin Bizimle İletişime Geçin</a>
        </div>

         </div>
</body>
</html>