<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sılam Emlak - Konumumuz</title>
</head>
<body>
    <iframe id="mapView" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d777.8599050771226!2d30.542897569572624!3d38.7536197440887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cf171239d9b3e5%3A0xc2c7ab6b55c5516d!2sSILAM%20EMLAK!5e0!3m2!1str!2str!4v1698045955774!5m2!1str!2str" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div id="contents">
        Afyonkarahisar/Merkez</br>
        Marulcu Mahallesi</br>
        Şehit Yüzbaşı Erdinç Şatırer Sokak</br>
        14/B</br>
    </div>
</body>
</html>