<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sılam Emlak - Hakkımızda</title>
    <link rel="icon" type="image/x-icon" href="../../../assets/logo_colored.jpg">
</head>
<body>
    <img id="linkedinImage" src="../../../assets/linkedin.svg" style="display: none;">
    <img id="upworkImage" src="../../../assets/upwork.svg" style="display: none;">
    <img id="bionlukImage" src="../../../assets/bionluk.png" style="display: none;">

   <div id="aboutUsContainer">
    <div id="imgAndTitle">
        <img src="../../../assets/logo.svg" id="logo">
        <h1 id="title">Hakkımızda</h1>
    </div>
    <div id="description">
        2018 yılında sizlere hizmet etme amacı ile kurulan <b>Sılam Emlak</b> ilk iş gününden bugüne kadar kesintisiz müşteri memnuniyetiyle çalışmaktadır.<br><br>
        Bizimle beraber çalışarak kendiniz ve aileniz için en uygun eve sahip olabilir, ihtiyacınız olan evi veya işyerini kiralayabilir, yatırımlarınızı güçlendirmek
        için bizden danışmanlık alabilir<br> ve mülklerinizden en kârlı şekilde gelir sağlayabilirsiniz.  
    </div>
   </div> 
</body>
</html>