<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İlanlar</title>
</head>
<body>
    <img id="menuImage" src="../../../assets/hamburger_menu.svg" style="display: none;">
    <img id="logoImage" src="../../../assets/logo.svg" style="display: none;">
    <img id="linkedinImage" src="../../../assets/linkedin.svg" style="display: none;">
    <img id="upworkImage" src="../../../assets/upwork.svg" style="display: none;">
    <img id="bionlukImage" src="../../../assets/bionluk.png" style="display: none;">

    <div id="mainContainer">
    <div id="filterContainer">
        <select id="neightborhoodSelector" class="selection">
            <option value="Hepsi">Hepsi</option>
        </select>
        <select id="sellOrRentSelection" class="selection">
            <option value="Kiralık">Kiralık</option>
            <option value="Satılık">Satılık</option>
            <option value="Her İkiside">Her İkiside</option>
        </select>
        <select id="furnitureSelection" class="selection">
            <option value="Evet">Eşyalı</option>
            <option value="Hayır">Eşyasız</option>
            <option value="Her İkiside">Her İkiside</option>
        </select>
        <select id="typeSelection" class="selection">
            <option value="Daire">Daire</option>
            <option value="İşyeri">İşyeri</option>
            <option value="Müstakil">Müstakil</option>
            <option value="Arsa">Arsa</option>
            <option value="Tarla">Tarla</option>
            <option value="Hepsi">Hepsi</option>
        </select>

    </div>
    <div id="articlesContainer"></div>
    </div>
</body>
</html>