<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base id="baseHref" href="/" />
    <title>Sılam Emlak</title>
</head>
<body>
    <img id="menuImage" src="../../../assets/hamburger_menu.svg" style="display: none;">
    <img id="logoImage" src="../../../assets/logo.svg" style="display: none;">
    <img id="linkedinImage" src="../../../assets/linkedin.svg" style="display: none;">
    <img id="upworkImage" src="../../../assets/upwork.svg" style="display: none;">
    <img id="bionlukImage" src="../../../assets/bionluk.png" style="display: none;">
    <div id="video-container">
    <div id="video-blur"></div>
    <div id="main-title" class="main-texts">SILAM EMLAK</div>
    <span id="main-adverts-container" class="main-link-container">
        <a id="main-adverts-text" class="main-texts" href="www.silamemlak.com">Kiralık ve Satılık Evler</a>
        <div class="bottom-divider"></div>
    </span>
    <span id="main-content-container" class="main-link-container">
        <a id="main-content-text" class="main-texts" href="/iletisim.html">İletişim</a>
        <div class="bottom-divider"></div>
    </span>
    <video id="video-element" src="../../../assets/afyon.mp4" autoplay muted loop></video>
    </div>

    <div id="articles">
        <div id="articles-header">Son Yüklenen İlanlar</div>
       <div id="articlesBody">
       </div>
    </div>

    <div id="property-consulment">
   <div id="house-in-your-dream">
    <div class="title">Hayalinizdeki Evi Bulmanıza Yardımcı Olalım</div>
    <div id="houses">
        <img id="houseOne" src="../../../assets/house_one.png" class="house">
        <img id="houseTwo" src="../../../assets/house_two.png" class="house">
    </div>  
   </div>
   <div id="make-your-invesment">
    <div class="title">Yatırımlarınızı Beraber Güçlendirelim</div>
    <img  src="../../../assets/invesment.svg" class="invesmentImage">
   </div>
   <div id="sell-your-property">
    <div class="title">Mülklerinizden Gelir Elde Etmenize Yardımcı Olalım</div>
    <img  src="../../../assets/house_for_rent.svg" class="propertyImage">
    <a href="/iletisim.html" id="contact-us-button">Hizmetlerimizden Yararlanmak İçin Bizimle İletişime Geçin</a>
   </div>
    </div>
</body>
</html>